<div>
  <v-expansion-panels inset>
    <v-expansion-panel v-for="(analyticsQuery, i) of analyticsQueries" :key="i">
      <v-expansion-panel-header>
        {{i + 1}}) {{analyticsQuery.title}}
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <div class="d-flex">
          <div class="flex-grow-1">
            {{analyticsQuery.description}}
          </div>
          <v-btn @click="onQuery(analyticsQuery)" color="success" class="ml-3"
            >Execute</v-btn
          >
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  <v-data-table
    class="mt-5"
    :items="tableItems"
    :headers="tableFields"
  ></v-data-table>
</div>
