<v-form v-model="isValid" ref="form" :disabled="formDisabled" @submit.prevent="onSubmit">
  
  <v-text-field label="Id" disabled v-if="isEditForm" :value="formData.Id"></v-text-field>
  <v-text-field v-model="formData.Name" label="Name" :rules="[notEmpty]"> </v-text-field>
  <v-text-field v-model="formData.Description" label="Description" :rules="[notEmpty]"> </v-text-field>
  <v-text-field type="number" v-model="formData.ThresholdPerMonth" label="Threshold per month" :rules="[notEmpty, greaterEquals(0)]"> </v-text-field>

  <v-btn color="primary" type="submit" block :disabled="formDisabled" class="my-3">Submit</v-btn>
  <v-btn color="error" block :to="{ name: 'TypesOfCostsView' }">Cancel</v-btn>

</v-form>
