<div>
  <v-data-table :headers="headers" :items="items" :items-per-page="-1">
    <template v-slot:top>
      <v-toolbar flat>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="$emit('create')">Create new</v-btn>
      </v-toolbar>
    </template>
    <template v-if="showActions" v-slot:item.actions="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            @click="$emit('update', item.Id)"
          >
            <v-icon>mdi-pen</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            @click="pendingToDelete = item.Id; deleteDialog = true;"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
        <span>Delete</span>
      </v-tooltip>
      <v-tooltip bottom v-if="showDownloadIcon">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
            @click="$emit('download', item.Id)"
          >
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </template>
        <span>Download report</span>
      </v-tooltip>
    </template>
  </v-data-table>

  <v-dialog v-model="deleteDialog" max-width="390">
    <v-card>
      <v-card-title>Are you sure ?</v-card-title>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary" text @click="deleteDialog = false">
          Cancel
        </v-btn>

        <v-btn
          color="error"
          text
          @click="deleteDialog = false; $emit('delete', pendingToDelete);"
        >
          Agree
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>
